![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [208]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

In [209]:
price = pd.read_csv('data/airbnb_price.csv')
room_type = pd.read_excel('data/airbnb_room_type.xlsx')
last_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')

airbnb = price.merge(room_type, on='listing_id').merge(last_review, on='listing_id')
airbnb.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [210]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [211]:
airbnb['last_review_date'] = pd.to_datetime(airbnb['last_review'])
airbnb.sort_values(by='last_review_date', inplace=True, ignore_index=True)

In [212]:
earliest_review = airbnb['last_review_date'].min()
most_recent_review = airbnb['last_review_date'].max()

print('earliest review: ', earliest_review)
print('most recent review: ', most_recent_review)

earliest review:  2019-01-01 00:00:00
most recent review:  2019-07-09 00:00:00

In [213]:
airbnb['room_type'].value_counts()

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [214]:
airbnb['room_type'] = airbnb['room_type'].apply(lambda x: x.lower())

In [215]:
number_of_private_rooms = airbnb['room_type'].value_counts()['private room']

print('number of private rooms: ', number_of_private_rooms)

number of private rooms:  11356

In [216]:
all(p[-7:]=='dollars' for p in airbnb.price)

True

In [217]:
airbnb['price'] = airbnb['price'].apply(lambda x: x.split()[0]).astype('float')

In [218]:
average_listing_price = round(airbnb['price'].mean(), 2)

print('average listing price: ', average_listing_price)

average listing price:  141.78

In [219]:
review_dates = pd.DataFrame({
    'first_reviewed': earliest_review,
    'last_reviewed': most_recent_review,
    'nb_private_rooms': number_of_private_rooms,
    'avg_price': average_listing_price
}, index=[0])

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78